<html>
    <head>
        <meta charset="utf-8"/>
        <title>PBC</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>PBC</h1>
        <div>API para boletos com carteira registrada</div>
    </body>
</html>

